/* #region presets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 96px 0;
  max-width: 320px;
  margin: 0 auto;
}

.container {
  max-width: 320px;
  padding-right: 16px;
  padding-left: 16px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

button {
  cursor: pointer;
}
/* #endregion presets */

/* #region header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.hed-container {
  background: #fff;
  display: flex;
  align-items: center;
  max-width: 320px;
  height: 56px;
  position: relative;
}

.logo {
  width: 115px;
  height: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  align-items: center;
  gap: 0px;
}

.logo-s {
  color: #2e2f42;
}

.mobil-menu {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  padding-right: 0;
}

.navbar {
  display: none;
}

.navbar-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  width: 261px;
  height: 48px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-a {
  color: #404bbf;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.addr-list {
  display: none;
}

.address {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #434455;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address:hover,
.address:focus {
  color: #404bbf;
}
/* #endregion header */

/* #region title box */

.ttl-sect {
  background: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 100%;
  height: 432px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px 52px;
}

.hero-ttl {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  max-width: 216px;
  padding: 0;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  width: 100%;
}

.btn {
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 4px;
  border: none;
  align-items: center;
  justify-content: center;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
/* #endregion title box */

/* #region page text */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.pag-cont-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  width: 100%;
}

.pag-cont-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 288px;
}

.icon-container {
  display: none;
}

.icon-content {
  fill: #2e2f42;
}
/* #endregion page text */

/* #region Our Team */

.section.our-team-sect {
  max-width: 100%;
  background: #f4f4fd;
  background-size: auto;
}

.our-team-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 28px;
}

.title-team {
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
}

.card-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  background: #fff;
  border-radius: 0 0 4px 4px;
  padding: 0;
  width: 264px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
}

.card-descrip {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  width: 232px;
  padding-bottom: 32px;
}

.title-card {
  text-align: center;
  color: #2e2f42;
  text-align: center;
}

.text-card {
  text-align: center;
  margin-bottom: 8px;
}

.group-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.icon-item {
  width: 40px;
  height: 40px;
}

.icon-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  fill: #f4f4fd;
}

.icon-cell:hover,
.icon-cell:focus {
  background-color: #404bbf;
}
/* #endregion Our Team */

/* #region Our Portfolio */

.portfolio-title {
  text-transform: capitalize;
  margin-bottom: 72px;
}

.project-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
  width: 288px;
}

.portfolio-card {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.descrpt-container {
  position: relative;
  overflow: hidden;
}

.descrpt-text {
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  width: 100%;
  height: 300px;
  padding: 40px 32px;
  color: #f4f4fd;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.portfolio-card:hover .descrpt-text {
  transform: translateY(0%);
}

.card-descrpt {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
/* #endregion Our Portfolio */

/* #region Footer */
.footer {
  background: #2e2f42;
  max-width: 100%;
  background-size: auto;
}

.ftr-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  padding-top: 96px;
  padding-bottom: 96px;
}

.container-logo {
  width: 288px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.logo-footer {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-footer-s {
  color: #f4f4fd;
}

.f-text {
  color: #f4f4fd;
}

.soc-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.icon-list-container {
  display: flex;
  gap: 16px;
}

.title-soc-f {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.icon-socium:hover,
.icon-socium:focus {
  background-color: #31d0aa;
}

/* subscription */
.subscription-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 16px;
  width: 288px;
  outline: none;
}

.subscription-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.form-subscription {
  width: 288px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 0;
}

.email-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: none;
  padding-left: 16px;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.email-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background: #404bbf;
}
/* #endregion Footer */

/* #region Modal Window */
.backdrop {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  width: 288px;
  height: 623px;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  padding: 0 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-oupen {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  fill: #fff;
  border: none;
}

.modal-close-btn:hover .icon-close,
.modal-close-btn:focus .icon-close {
  fill: #fff;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin: 72px 0 16px;
}

.form-wraper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  width: 256px;
  height: 336px;
  padding: 0;
}

.form-container {
  width: 256px;
  height: 58px;
  padding: 0;
  margin-bottom: 8px;
}

.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.input-container {
  position: relative;
}

.input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  width: 100%;
  height: 40px;
  padding: 0 0 0 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  border: 1px solid #4d5ae5;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus + .modal-icon {
  fill: #4d5ae5;
}

.form-container-comment {
  height: 138px;
  margin-bottom: 16px;
}

.textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  min-width: 256px;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  display: block;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
  border-color: #4d5ae5;
}

.textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.btn-send {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* checkbox */

.modal-checkbox {
  height: 31px;
  margin-bottom: 24px;
}

.custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  min-width: 16px;
  min-height: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-checkbox {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;
}

.check-text-policy {
  margin-left: 8px;
}

.checkbox:checked + .label-checkbox > .custom-checkbox {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.policy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.btn-send {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  margin: 0 auto 24px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-send:hover,
.btn-send:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #404bbf;
}
/* #endregion Modal Window */

/* #region Mobil Menu */

.mobil-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 320px;
  height: 640px;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 0 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: #e7e9fc;
  stroke-width: 1px;
  stroke: #2e2f42;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover,
.menu-close-btn:focus {
  background-color: #404bbf;
  fill: #fff;
  border: none;
}

.menu-close-btn:hover .icon-close,
.menu-close-btn:focus .icon-close {
  fill: #fff;
}

.menu-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  width: 151px;
  height: 200px;
  margin-top: 72px;
  margin-bottom: 168px;
}

.menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.studio {
  color: #404bbf;
}

.contacts {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  width: 193px;
  height: 72px;
  margin-bottom: 48px;
}

.contact-link {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  width: 280px;
  height: 40px;
}
/* #endregion Mobil Menu */

/* #region media - min-width - 768 */

@media screen and (min-width: 768px) {
  .section {
    max-width: 768px;
    margin: 0 auto;
  }

  .container {
    max-width: 768px;
  }

  .hed-container {
    height: 72px;
  }

  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 381px;
    height: 72px;
  }

  .mobil-menu {
    display: none;
  }

  .navbar-addr {
    position: absolute;
    right: 16px;
  }

  .addr-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }

  .ttl-sect {
    max-width: 100%;
    height: 436px;
    padding: 112px 136px;
  }

  .hero-ttl {
    max-width: 496px;
    gap: 36px;
  }

  .title {
    font-size: 56px;
    line-height: 1.07;
  }

  .pag-cont-list {
    column-gap: 24px;
    width: 736px;
  }

  .pag-cont-item {
    align-items: flex-start;
    width: 356px;
  }

  .our-team-cont {
    width: 768px;
  }

  .team-list {
    width: 552px;
    column-gap: 24px;
  }

  .project-box {
    row-gap: 72px;
    column-gap: 24px;
    width: 736px;
  }

  .portfolio-card {
    width: 356px;
  }

  .ftr-container {
    column-gap: 24px;
    padding-left: 108px;
    padding-right: 164px;
  }

  .container-logo {
    width: 264px;
    justify-content: flex-start;
  }

  .soc-container {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 208px;
    height: 80px;
  }

  .subscription-container {
    justify-content: flex-start;
    width: 453px;
    height: 80px;
  }

  .form-subscription {
    width: 100%;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .modal {
    width: 408px;
    height: 584px;
    padding: 0 24px;
  }

  .form-wraper {
    width: 360px;
  }

  .form-container {
    width: 360px;
  }

  .textarea {
    min-width: 360px;
  }

  .modal-checkbox {
    width: 360px;
    height: 16px;
  }
}
/* #endregion media - min-width - 768 */

/* #region media - min-width - 1158 */

@media screen and (min-width: 1158px) {
  .section {
    max-width: 1158px;
    padding: 120px 0;
    margin: 0 auto;
  }
  .container {
    max-width: 1158px;
  }

  .navbar {
    width: 413px;
  }

  .addr-list {
    flex-direction: row;
    gap: 40px;
  }

  .ttl-sect {
    max-width: 100%;
    height: 600px;
    padding: 188px 316px;
  }

  .hero-ttl {
    max-width: 496px;
    gap: 48px;
  }

  .pag-cont-list {
    flex-wrap: nowrap;
    justify-content: center;
    width: 1128px;
    margin-bottom: 0;
  }

  .pag-cont-item {
    width: 264px;
    margin-bottom: 0;
  }

  .title-pag-cont {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .text-pag-cont {
    font-weight: 400;
  }

  .icon-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
  }

  .our-team-cont {
    width: 100%;
    padding: 0 16px;
  }

  .team-list {
    flex-wrap: nowrap;
    width: 100%;
    gap: 24px;
  }

  .card-item {
    margin-bottom: 0;
  }

  .project-box {
    row-gap: 48px;
    width: 1128px;
  }

  .portfolio-card {
    width: 360px;
  }

  .ftr-container {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 100px 16px;
  }

  .soc-container {
    margin-left: 120px;
  }
}
/* #endregion media - min-width - 1158 */
